@import '../../color-vars';

.station-list {
  text-align: right;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  position: sticky;
  top: 100px;
  z-index: 5;
  overflow-y: scroll;


  li:last-of-type {
    flex:auto;
    padding-bottom: -5px;
    margin-bottom: -5px;
    overflow: hidden;
  }

  .station-select{
    cursor: pointer;
    color: white;
    padding: 0.5em 1em;
    padding-bottom: 2em;
    margin-bottom: -15px;
    border-top-right-radius: 10px;
    box-shadow: -5px -5px 20px 0px rgba(0,0,0,0.3);
    z-index: 5;
    transition: transform 0.5s;
  }

  .station-select:hover {
    transform: translate(0, -5px);
    z-index: 5;
  }

  .northern {
    box-shadow: inset -5px 5px 20px 0px rgba(255,255,255,0.3);
  }
}

@each $key, $val in $line-colors {
  .#{$key} {
    background-color: $val;
  }
}

@each $key, $val in $light-colors {
  .#{$key}.selected {
    background: darken($val, 10%)
  }
}

@each $key, $val in $dark-colors {
  .#{$key}.selected {
    background: lighten($val, 10%)
  }
}
