<ul class='station-list'>
  <li
    class="station-select {{line.id}}"
    *ngFor='let station of stations'
    routerLink='/line/{{line.id}}/station/{{station.id}}'
    (click)='onSelectStation(station)'
    [ngClass]='{selected: station === selectedStation}'
    (mouseover)='hoverOn(station.commonName)'
    (mouseleave)="hoverOff()"
  >
    <div *ngIf='station.commonName === "Paddington (H&C Line)-Underground" else elseBlock'>{{station.commonName.substr(0, station.commonName.length-12)}}</div>
    <ng-template #elseBlock>{{station.commonName.substr(0, station.commonName.length-20)}}</ng-template>
  </li>
</ul>
