@import '../../color-vars';

svg {
  width: 100%;
  max-height: 90vh;
}

.hovering {
  filter: url(#dropshadow);
}

.all-hide {
  display: none;
}

.hoveringSt {
  display: unset
}

@each $key, $val in $line-colors {
  svg.#{$key} {
    .hide {
      display: none;
    }

    .#{$key} {
      display: unset;
    }
  }
}
